@import '../../sass/media';
 
.tag{
    display: flex;
    background: var(--gradient-aqua-lemon);
    border-radius: var(--border-radius-tag);
    padding: 4px 16px;
    width: max-content;
    height: 24px;
    margin-bottom:10px ;
    @include tablet{
        height: 20px;
    }
}

.text{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    @include tablet {
        font-size: 12px;
        line-height: 14px;
      }
}