:root {
  /* Border radius */
  --border-radius-form: 8px;
  --border-radius-button: 40px;
  --border-radius-regular-card: 24px;
  --border-radius-tag: 4px;
  --border-radius-checkbox: 4px;

  /* Border width */
  --border-width-card: 3px;
  --border-width-divider: 1px;
  --border-width-form: 2px;
}
