:root {
  /* Rimac */

  /* Neutrals */
  --n-0: #ffffff;
  --n-200: #edeffc;
  --n-400: #d7dbf5;
  --n-500: #a9Afd9;
  --n-600: #7981b2;
  --n-700: #141938;

  /* Greens */
  --green-400: #7DF0BA;

  /* Gradients */
  --gradient-1: #05fa50;
  --gradient-2: #33fae3;
  --gradient-3: #00cbcb;
  --gradient-4: #0fd873;
  --gradient-5: #00fc4c;

  /* Grey */
  --grey-10: #f8f9ff;
  --grey-30: #ccd1ee; 
  --grey-60: #5e6488;
  --grey-100: #03050f;

  /* Brand */
  --r-500: #ff1c44;

  /* Blues */
  --b-600: #4f4fff;
  --b-700: #432eff;

  /* Status */
  --success: #389e0d;
  --warning: #ffd11a;
  --critical: #ff1a1c;

  /* Opacity */
  --blue-opacity: #e8ebfa;
  --blue-opacity-100: #1433cc;
}
