@use "sass:map";

@import './typography/r-title';
@import './typography/r-subtitle';


:root {
  --font-br-sonoma: 'BRSonoma', sans-serif;
}

@each $title in $title-list {
  $class: map-get($title, 'class');
  $font-size: map-get($title, 'f-size');
  $line-height: map-get($title, 'l-height');
  $letter-spacing: map-get($title, 'l-spacing');

  .#{$class} {
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }
}

@each $subtitle in $subtitle-list {
  $class: map-get($subtitle, 'class');
  $font-size: map-get($subtitle, 'f-size');
  $line-height: map-get($subtitle, 'l-height');

  .#{$class} {
    font-size: $font-size;
    letter-spacing: 0.2px;
    line-height: $line-height;
  }
}

