/* variables */
:root {
  /* fonts */
  --font-br-sonoma: 'Sonoma', sans-serif;
  --font-br-sonoma-light: 'Sonoma-light', sans-serif;
  --font-br-sonoma-medium: 'Sonoma-Medium', sans-serif;
  --font-br-sonoma-bold: 'Sonoma-Bold', sans-serif;
  --font-lato: 'Lato', sans-serif;
}
 
