@import 'sass/utils/functions';

$subtitle-list: (
    class: 'r-subtitle-20',
    f-size: rem(1.25),
    l-height: rem(2),
  ),
  (
    class: 'r-subtitle-18',
    f-size: rem(1.125),
    l-height: rem(1.5),
  ),
  (
    class: 'r-subtitle-16',
    f-size: rem(1),
    l-height: rem(1.5),
  ),
  (
    class: 'r-subtitle-14',
    f-size: rem(0.875),
    l-height: rem(1.25),
  ),
  (
    class: 'r-subtitle-12',
    f-size: rem(0.75),
    l-height: rem(1),
  ),
  (
    class: 'r-subtitle-10',
    f-size: rem(0.625),
    l-height: rem(1),
  );
