@import 'sass/utils/functions';

$title-list: (
    class: 'r-title-80',
    l-spacing: -1px,
    f-size: rem(5),
    l-height: rem(6),
  ),
  (
    class: 'r-title-72',
    l-spacing: -1px,
    f-size: rem(4.5),
    l-height: rem(6),
  ),
  (
    class: 'r-title-64',
    f-size: rem(4),
    l-height: rem(4.5),
  ),
  (
    class: 'r-title-56',
    f-size: rem(3.5),
    l-height: rem(4),
  ),
  (
    class: 'r-title-48',
    f-size: rem(3),
    l-height: rem(3.5),
  ),
  (
    class: 'r-title-40',
    f-size: rem(2.5),
    l-height: rem(3.25),
  ),
  (
    class: 'r-title-36',
    f-size: rem(2.25),
    l-height: rem(2.75),
  ),
  (
    class: 'r-title-32',
    f-size: rem(2),
    l-height: rem(2.5),
  ),
  (
    class: 'r-title-28',
    f-size: rem(1.75),
    l-height: rem(2.5),
  ),
  (
    class: 'r-title-24',
    f-size: rem(1.5),
    l-height: rem(2.25),
  ),
  (
    class: 'r-title-20',
    f-size: rem(1.25),
    l-height: rem(2),
  ),
  (
    class: 'r-title-18',
    f-size: rem(1.125),
    l-height: rem(1.5),
  ),
  (
    class: 'r-title-16',
    f-size: rem(1),
    l-height: rem(1.5),
  ),
  (
    class: 'r-title-14',
    f-size: rem(0.875),
    l-height: rem(1.25),
  ),
  (
    class: 'r-title-12',
    f-size: rem(0.75),
    l-height: rem(1),
  ),
  (
    class: 'r-title-10',
    f-size: rem(0.625),
    l-height: rem(1),
  );
