@import '../../sass/media';

.footer{
    background: var(--grey-100);
    grid-column: 1/13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px 20px 120px;
  
    @include desktop {
      padding: 20px 48px 20px 48px;
    }

    @include tablet{
      grid-column: 1/5;
      flex-direction: column;
   }

    @include mobile {
      padding: 20px 24px 20px 24px;
    }
    
  .logo{
    width: 86px;
    height: 42px;  
  }

  .logoVertical{
    width: 138px;
    height: 20px;
    margin-top: 30px;
  }

  span{
    color: var(--n-0);
    @include tablet{
        border-top: 1px solid var(--n-0);
        padding: 30px 0 30px 0;
      }

  }

}